@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap");

* {
  font-family: "Lexend Deca", sans-serif;
}
.realmain {
  /* height: 100%; */
  /* background-color: #eb6440; */
}

.remodel {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.homepagemain {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.leftside {
  /* background-color: pink; */
  /* display: flex;
 flex-direction: column; */
}

.greetings {
  font-family: "Lexend Deca", sans-serif;
  color: #2D7BD8;
  font-size: 100px;
  padding-top: 120px;
  padding-left: 120px;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.spacer {
  font-size: 50px;
  margin-left: 90px;
  padding-top: 40px;
  color: #2f2b2b;
}
.rrr {
  padding-left: 5px;
}
.picdiv {
display: flex;
justify-content: center;
 }

.quotecontain {
  color: #2f2b2b;
  font-size: 15px;
  position: relative;

}

.quote {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 7px;
}

.img1 {
  height: 80%;
  width: 80%; 
}

@media screen and (max-width: 992px) {
  .homepagemain {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: none;
    padding-left: none;
    padding-right: none;
  }

  .greetings {
    overflow: hidden;
    z-index: 1;
    height: 250px;
    font-size: 95px;
  }

  .spacer {
    height: 69px;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 30px;
  }

  .img1 {
    margin-top: 90px;
    margin-left: 0px;
    padding-left: 0px;
    width: 600px;
    height: 600px;
  }

  .picdiv {
    margin-left: none;
    padding-left: none;
  }

  .quotecontain {
    color: #2f2b2b;
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .homepagemain {
    display: flex;
    flex-direction: column;
  }

  .greetings {
    z-index: 1;
    height: 250px;
    font-size: 64px;
    padding-bottom: none;
    padding-top: 80px;
    padding-left: 1px;
    padding-right: 0px;
  }

  .img1 {
    margin-top: 90px;
    margin-left: 0px;
    padding-left: 0px;
    width: 400px;
    height: 400px;
  }

  .picdiv {
    padding: 15px;
    margin-left: 0px;
  }

  .spacer {
    margin-top: none;
    padding-top: 5px;
    margin-left: 0px;
    padding-left: 25px;
    width: 100%;
    text-align: center;
  }
}