/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */


.body1 {
    /* font-family: Oxygen, sans-serif; */
    margin: 2rem;
  }

.wrapper1 {
    margin-top: 10%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    /* justify-content: center; */
  }

  /* , minmax(12rem, 16rem) */