
* {
  /* box-sizing: border-box; */
  font-family: 'Azeret Mono', monospace;
}

/* html {
  font-family: 'Noto Sans JP', sans-serif;
} */

body {
  margin: 0;
  background-color: #F5F5F5;
  font-family: 'Azeret Mono', monospace;
}
